.input {
  color: $color-gray-400;
  border: 1px solid $color-gray-300;
  border-radius: 2px;
  height: 48px;
  font-size: $text-b3;
  padding: 14px 24px;
  display: inline-block;

  &:focus {
    color: $color-gray-500;
    border-color: $color-gray-500;
  }

  &.error {
    border-color: $color-orange-500;
  }

  &.small {
    width: 132px;
  }
  &.medium {
    width: 300px;
  }
  &.large {
    width: 400px;
  }
  &:disabled {
    color: $color-gray-200;
    border-color: $color-gray-200;
    background-color: $color-gray-100;
    cursor: not-allowed;
  }
  &:required {
    border-color: $color-indigo;
  }
}

.error-message {
  color: $color-orange-500;
  font-size: $text-b3;
  margin-top: 10px;
  margin-bottom: 10px;
}
