.page-container {
  padding: 0 15px;
}

.title {
  margin-top: 80px;
}

.search-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding: 16px;
  margin-top: 18px;
  margin-bottom: 31px;
}

.traders-list-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px 32px;
  margin-bottom: 30px;

  @include tablet-md {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.pagination-wrapper {
  margin-bottom: 64px;
}
