@import './base/variables';
@import './base/reset';

body {
  font-family: $font-family-base;
  font-weight: $text-medium;
  font-size: $text-b2;
  letter-spacing: -0.02em;
  line-height: 132%;
  color: $color-black;
  background-color: $color-gray-100;
}

input,
textarea {
  &::placeholder {
    opacity: 1; /* Firefox */
  }
}
