.container {
  display: flex;
  justify-content: space-between;
}

.label {
  @include typo-b1;
}

.input {
  color: $color-gray-800;
  width: 640px;
}

// TODO : textarea palceholder 중앙에 오도록하기
// TODO : file input UI 고치기
