.container {
  width: 1190px;
  height: 813px;
  padding: 52px 28px;
  background-color: $color-white;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 24px;
}

.title {
  @include typo-h4;
}

.date {
  color: $color-gray-400;
}

.top-line {
  width: 100%;
  height: 1px;
  background-color: $color-gray-300;
  margin-bottom: 43px;
}

.content {
  padding: 0px 24px;
  @include typo-b2;
  line-height: 2;
}

.bottom-line {
  margin-top: 95px;
  width: 100%;
  height: 1px;
  background-color: $color-gray-300;
}

.attach-file {
  padding: 0px 24px;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.file-left-wrapper {
  flex: 0 0 5%;
  display: flex;
  align-items: center;
}

.file-count {
  @include typo-b3;
  margin-top: 10px;
}

.file-right-wrapper {
  flex: 0 0 95%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.file-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 57px;
}

.file-title {
  @include typo-b2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  cursor: pointer;
}

.file-download {
  width: 14px;
  height: 14px;
  color: $color-gray-500;
  cursor: pointer;
}
