.information-top {
  display: flex;
  margin: 20px 0;
  gap: 10px;
}

.name-container {
  width: 35%;
  height: 144px;
  padding: 18px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  border-radius: 5px;
  background-color: $color-white;
  .name {
    @include typo-b1;
  }
  button {
    height: 30px;
    border-radius: 8px;
    background-color: $color-gray-200;
    color: $color-gray-700;
  }
  @include tablet-md {
    gap: 2px;
    button {
      font-size: $text-b3;
    }
  }
}

.invest-container {
  width: 70%;
  height: 144px;
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: $color-white;
  .info-item {
    width: 100%;
    height: 100%;
    border-right: 1px solid $color-gray-200;
    padding-right: 4px;
    overflow-y: auto;
    &:last-child {
      border-right: 0;
    }
    .invest-title {
      @include typo-b1;
      color: $color-gray-500;
    }
    .invest-data {
      @include typo-b3;
      color: $color-gray-700;
      margin-top: 16px;
      @include tablet-md {
        font-size: $text-c1;
      }
    }
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-gray-200;
      border-radius: 10px;
    }
  }
}

.percentage-container {
  width: 100%;
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
.percentage-wrapper {
  width: 20%;
  height: 108px;
  border-radius: 5px;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .label {
    @include typo-b2;
    color: $color-gray-800;
    @include tablet-md {
      font-size: $text-b3;
    }
    @include tablet-sm {
      font-size: $text-c1;
    }
  }
  .percent {
    @include typo-h4;
    color: #f53500;
    &.minus {
      color: #6877ff;
    }
    @include tablet-md {
      font-size: $text-b1;
    }
    @include tablet-sm {
      font-size: $text-b2;
    }
  }
}
