.container {
  width: calc(100% - $strategy-sidebar-width);
  max-width: $max-width;
  padding-right: 10px;
  padding-top: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -5px;
  button {
    width: $strategy-sidebar-width;
    height: 35px;
  }
}
