.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding-bottom: 90px;
}

.strategy-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 940px;

  li {
    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1 / 3;
    }
  }
}
