.side-item {
  height: 120px;
  padding: 20px;
}

.side-items {
  height: 210px;
  padding: 20px 20px 0;
  .data {
    p {
      margin-bottom: 20px;
    }
  }
}

.side-item,
.side-items {
  width: 276px;
  background-color: $color-white;
  border-radius: 5px;
  margin-bottom: 20px;
  .title {
    font-weight: $text-bold;
    font-size: $text-b2;
    color: $color-gray-500;
    border-bottom: 0.75px solid $color-gray-500;
    padding-bottom: 12px;
  }
  .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    p {
      @include typo-b1;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  p {
    margin: 0 4px 0 11px;
  }
}
