.upload-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.file-input-wrapper {
  display: flex;
  gap: 24px;
  position: relative;
  width: 100%;
}

.hidden-input {
  display: none;
}

.custom-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border: 1px solid $color-gray-300;
  border-radius: 8px;
  background-color: transparent;
  flex: 1;
}

.placeholder {
  color: $color-gray-400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.file-button {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.guide-button {
  height: 45px;
  padding: 12px 24px;
  @include typo-b3;
  border: 1px solid #797979;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 100px;
}

.error-message {
  color: $color-orange-500;
  font-size: 14px;
}

.form-grid {
  display: grid;
  grid-template-columns: 170px 170px 160px auto;
  gap: 24px;
  align-items: flex-start;
}

.input-group {
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 7px 12px;
  .data-input {
    width: 170px;
    border-radius: 4px;
    border: 1px solid $color-gray-200;
    &::placeholder {
      color: $color-gray-400;
      @include typo-c1;
    }
  }
}

.label {
  @include typo-b3;
  color: $color-gray-800;
}

.input-actions {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  height: 100%;
  padding-bottom: 2px;
}

.add-button,
.delete-button {
  font-size: 12px !important;
  margin: 0 0 8px 8px;
}
