.container {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 1.6fr 1.2fr repeat(3, 0.6fr) 0.4fr;
  height: 158px;
  width: 100%;
  align-items: center;
  background-color: $color-white;
  .mdd,
  .sm-score,
  .profit,
  .subscribe {
    place-items: center center;
  }
  .mdd,
  .sm-score {
    @include typo-b2;
  }
  .profit {
    & span {
      @include typo-c1;
    }
    p {
      @include typo-b2;
      color: $color-orange-500;
    }
  }
}

.summary {
  padding-left: 30px;
  * {
    margin: 4px 0;
  }
  .title {
    @include typo-h4;
  }
  .trader-profile {
    display: flex;
    align-items: center;
    p {
      margin-left: 10px;
      @include typo-b2;
    }
  }
  .total-subscribe-star {
    display: flex;
    align-items: center;
    height: 20px;
    gap: 6px;
    p {
      @include typo-c1;
      padding-top: 10px;
    }
  }
}

.subscribe-icon {
  button {
    background: transparent;
    svg {
      width: 36px;
    }
  }
}

.chart {
  width: 100%;
  overflow: hidden;
}

.icon-container {
  display: flex;
  gap: 4px;
  .icon-wrapper {
    .icon {
      position: relative;
    }
    .tooltip {
      background-color: $color-gray-700;
      border-radius: 20px;
      padding: 8px 20px 6px;
      @include typo-c1;
      .arrow {
        width: 14px;
        height: 14px;
        z-index: zIndex(hidden);
      }
    }
  }
}
