.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 12px;

  .title {
    color: $color-gray-600;
    @include typo-b1;
  }
}

.terms-wrapper {
  height: 146px;
  padding: 16px 40px 16px 16px;
  border-radius: 6px;
  background-color: $color-white;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: block;
    width: 24px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    height: 73px;
    border: 10px solid $color-white;
    border-radius: 100px;
    background-color: $color-gray-300;
  }
}

.checkbox {
  align-self: flex-end;
}
