.overlay {
  position: fixed;
  inset: 0;
  background-color: $color-black;
  opacity: 0.2;
  z-index: zIndex(overlay);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-gray-100;
  border: 1px solid $color-gray-200;
  border-radius: 8px;
  z-index: zIndex(modal);
  padding: 40px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.question {
    width: 600px;
    .two-button {
      gap: 40px;
    }
    .message {
      margin: 30px 0;
      &.strategy-name {
        @include typo-h4;
        margin: 0 0 30px 0;
      }
    }
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 40px;
    flex-shrink: 0;
  }
}

.message {
  @include typo-b1;
  text-align: center;
  white-space: pre-line;
  color: $color-gray-800;
  margin-bottom: 30px;
}

.two-button {
  display: flex;
  gap: 10px;
  & .button {
    width: 90px;
  }
  &.question {
    margin-top: 20px;
  }
}

.question-title,
.question-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 20px;
  p {
    width: 30px;
    margin-right: 20px;
    @include typo-b3;
  }
  div {
    width: 100%;
  }
}
