.strategy-layout {
  display: flex;
  position: relative;

  .strategy {
    width: calc(100% - $strategy-sidebar-width);
    max-width: $max-width;
    padding-right: 10px;
    @include tablet-md {
      width: calc(100% - #{$strategy-sidebar-width} + 60px);
    }
  }
}
