.question-list {
  padding-top: 24px;

  li {
    margin-bottom: 24px;
  }
}

.empty-message {
  margin-top: 180px;
  text-align: center;
  @include typo-b1;
  color: $color-gray-600;
}

.pagination-wrapper {
  margin-bottom: 24px;
}
