.title {
  margin: 16px 0 32px;
  @include typo-h4;
  font-weight: $text-bold;
}

.section-container {
  margin: 0 100px 80px;

  @include mobile {
    margin: 0 0 80px;
  }

  h3 {
    @include typo-b2;
  }
}
