.step {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  .bar {
    width: 60px;
    height: 3px;
    margin-top: 25px;
    background-color: $color-white;
  }
}
.step-item {
  color: $color-gray-400;
  font-weight: $text-semibold;
  .circle {
    width: 55px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: $color-white;
    font-size: $text-h4;
    &.current {
      background-color: $color-orange-400;
    }
    &.done {
      background-color: $color-orange-200;
    }
    .icon {
      color: $color-gray-700;
    }
  }

  p {
    margin-top: 20px;
    &.current,
    &.done {
      color: $color-gray-700;
    }
  }
}
