.step {
  display: flex;
  justify-content: center;
  margin: 135px 0 0;
}

.bar {
  width: 60px;
  height: 4px;
  margin-top: 24px;
  background-color: $color-white;
  position: relative;

  &.next,
  &.prev {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $color-orange-200;
    }
  }

  &.next::after {
    animation: gaugeUp 0.3s linear forwards;
  }

  &.prev::after {
    animation: gaugeDown 0.5s linear forwards;
  }

  &.fix {
    background-color: $color-orange-200;
    animation: none;
  }
}

@keyframes gaugeUp {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes gaugeDown {
  to {
    width: 0;
  }
  from {
    width: 100%;
  }
}

.step-item {
  color: $color-gray-400;
  font-weight: $text-semibold;

  .circle {
    width: 58px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: $color-white;
    font-size: $text-h4;
    position: relative;
    overflow: hidden;

    &.next {
      background-color: $color-orange-200;
    }

    &.fix {
      background-color: $color-orange-200;
      color: $color-white;
    }

    &.current {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $color-orange-400;
        transform: translateY(-50%);
        animation: fillCircle 0.3s 0.3s forwards;
        z-index: 1;
      }

      &.prev {
        background-color: $color-orange-400;
        animation: none;
      }
    }

    .icon {
      z-index: 2;
      width: 24px;
      height: 24px;
      color: $color-gray-700;
    }
  }

  p {
    margin-top: 20px;
    &.current,
    &.next {
      color: $color-gray-700;
    }
  }
}

@keyframes fillCircle {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
