$color-approve: $color-indigo;
$color-deny: $color-orange-600;
@mixin base {
  width: fit-content;
  padding: 7px 16px;
  border-radius: 4px;
  border: 1px solid;
  border-radius: 16px;
  @include typo-c1;
}

.container {
  &.approve {
    color: $color-approve;
    border-color: $color-approve;
    @include base;
  }

  &.deny {
    color: $color-deny;
    border-color: $color-deny;
    @include base;
  }
}
