.container {
  display: flex;
  align-items: center;
  width: 276px;
  height: 83px;
  padding: 22px 20px 22px 40px;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: $color-white;
  margin-bottom: 18px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 45px;
}

.contents {
  color: $color-gray-800;
  @include typo-b1;
}
