.container {
  padding: 40px 28px;
}

.title {
  margin-top: 40px;
  @include typo-h4;
  margin-bottom: 22px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.user-profile {
  display: flex;
  flex-direction: column;
}

.link-button {
  align-self: flex-end;
  margin-top: 25px;
}
