.card-container {
  padding: 24px 40px 16px;
  border-radius: 8px;
  background-color: $color-white;
}

.top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .strategy-name {
    @include typo-b2;
    color: $color-orange-600;
  }

  .created-at {
    @include typo-b3;
    color: $color-gray-400;
  }
}

.title {
  margin: 12px 0 8px;
  @include typo-h4;
}

.contents {
  margin-bottom: 18px;
  color: $color-gray-600;
  @include typo-b2;
  @include ellipsis(1);
}

.bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  color: $color-gray-600;
  @include typo-b3;
}
