.side-bar {
  width: $strategy-sidebar-width;
  position: absolute;
  right: 0px;
  top: 130px;

  &.has-button {
    top: 85px;
  }

  .edit-button {
    width: $strategy-sidebar-width;
    height: 40px;
    margin-bottom: 15px;
  }

  &.fixed {
    position: fixed;
    right: 28px;
  }
}
